* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: inline-block;
    img.mySlides {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        animation: anim3 1s ease-in-out;
        z-index: 1;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
        z-index: 2;
    }
    .container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 3;
        .hamburger {
            display: none;
        }
        .nav.nav-tabs {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            border-bottom: none;
            li {
                a {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
        .fixed-top {
            background-color: rgb(0, 0, 0);
            width: 100vh;
            z-index: 9999;
            li {
                margin: 20px 0!important;
                a {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
        .logo {
            position: absolute;
            left: -120px;
            top: 10px;
        }
    }
    .welcome {
        text-align: center;
        color: #fff;
        width: 80%;
        margin: 10%;
        position: absolute;
        z-index: 4;
        h1 {
            font-size: 80px;
            animation: anim1 5s 0s linear infinite;
        }
        p {
            font-size: 40px;
            animation: anim2 5s 0s ease-in-out infinite;
        }
    }
    .display {
        position: absolute;
        width: 30px;
        height: 30px;
        border: none;
        background-color: rgba(255, 255, 255, 0.473);
        z-index: 3;
    }
    .left {
        left: 20px;
        top: 50%;
    }
    .right {
        right: 20px;
        top: 50%;
    }
}

section#about-us {
    position: relative;
    height: 25rem;
    .container {
        .row {
            .col-md-6 {
                background: rgba(0, 0, 0, 0.096);
                padding: 10px 25px;
                height: 15rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .col-md-6:first-child {
                border-right: 2px dashed;
            }
        }
    }
}

section#offer {
    height: 100vh;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.822);
        z-index: 2;
    }
    .container {
        z-index: 2;
        position: relative;
        h2 {
            color: #fff;
            padding-top: 5rem;
            padding-bottom: 3rem;
            font-size: 50px;
        }
        .row {
            height: 100%;
            .mySlidesOffer {
                position: absolute;
                width: 70%;
                height: 60vh;
                margin: 0 15%;
                animation: anim3 1s ease-in-out;
            }
            .offer-text {
                position: absolute;
                right: 16%;
                top: 194%;
                width: 30%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.527);
                animation: anim3 1s ease-in-out;
                p {
                    padding: 20px;
                }
            }
            .offer-left,
            .offer-right {
                width: 40px;
                height: 40px;
                opacity: .5;
                position: absolute;
                top: 180%;
                border: none;
            }
            .offer-left {
                left: 10px;
            }
            .offer-right {
                right: 10px;
            }
        }
    }
}

section#menu {
    background: rgba(0, 0, 0, 0.493);
    .container {
        text-align: center;
        button {
            margin: 10px auto;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 7px;
            background: rgba(0, 0, 0, 0.363);
        }
        button:hover {
            background: rgba(0, 0, 0, 0.63);
            color: #fff;
        }
        .row {
            justify-content: center;
            .col-md-6.col-sm-12 {
                width: 48%;
                margin: 15px 5px;
                background: rgba(255, 255, 255, 0.582);
                border-radius: 10px;
                .flex-items {
                    position: relative;
                    margin-bottom: 20px;
                    img {
                        padding: 10px 10px;
                        width: 200px;
                        height: 150px;
                        opacity: .8;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    .information {
                        position: relative;
                        width: 60%;
                        right: 0;
                        padding-top: 20px;
                        p {
                            overflow: hidden;
                            position: relative;
                            max-width: 100%;
                            left: 0;
                            text-align: center;
                            text-align: center;
                        }
                        h1 {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

section#address {
    .container {
        h2 {
            padding-bottom: 3rem;
        }
    }
}

section#contact {
    position: relative;
    transform: translateY(2.4rem);
    background: url('../dist/images/contact-background.jpg');
    height: 20rem;
    .container {
        color: #fff;
        h2 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        .links {
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                i {
                    border-radius: 50%;
                    font-size: 25px;
                    padding: 10px;
                }
            }
        }
    }
}

button.up {
    display: none;
    position: sticky;
    left: 96%;
    bottom: 20px;
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #672;
    a {
        position: absolute;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        .fas {
            font-size: 20px;
        }
    }
}

button.up:hover {
    background-color: #000;
    a {
        text-decoration: none;
        .fas {
            font-size: 25px;
            color: #672;
        }
    }
}

// KEYFRAMES
@keyframes anim1 {
    0% {
        transform: rotateX(0);
    }
    20% {
        transform: rotateX(360deg);
    }
    20.01% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes anim2 {
    0% {
        font-size: 10px;
        transform: rotateX(0);
    }
    20% {
        font-size: 40px;
        transform: rotateX(360deg);
    }
    20.01% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes anim3 {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@media screen and(max-width:767px) {
    * {
        margin: 0;
        padding: 0;
    }
    html {
        overflow-x: hidden;
    }
    header#home {
        img {
            z-index: 1;
            overflow-y: hidden;
            margin-top: 5rem;
            position: relative;
        }
        .overlay {
            z-index: 2;
        }
        .container {
            overflow: hidden;
            display: inline-block;
            ul.nav.nav-tabs {
                transition: 1s ease-in-out;
                z-index: 999;
                display: none;
                position: fixed;
                height: 80vh;
                margin-top: -3rem;
                top: 0;
                left: 0;
                z-index: 2;
                flex-direction: column;
                background-color: rgb(255, 255, 255);
                overflow: hidden;
                width: 100%;
                align-items: center;
                li {
                    overflow: hidden;
                    a {
                        color: rgb(0, 0, 0)!important;
                    }
                }
            }
            .fixed-top {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                position: fixed;
                height: 80vh;
                margin-top: 3rem;
                top: 5rem;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgb(255, 255, 255);
                overflow: hidden;
                width: 100%;
                align-items: center;
                li {
                    margin: 0!important;
                }
            }
            .hamburger {
                margin: 0;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 5rem;
                background-color: rgb(0, 0, 0);
                margin-right: 5px;
                overflow: hidden;
                z-index: 99;
                .line {
                    position: relative;
                    margin: 5px;
                    width: 40px;
                    height: 5px;
                    background-color: white;
                    float: right;
                }
            }
            .logo {
                display: none;
            }
        }
        .welcome {
            position: relative;
            overflow-y: hidden!important;
            z-index: 5;
            transform: translateY(-100%);
            margin-top: -50%;
            color: rgba(227, 250, 220, 0.418);
            position: sticky;
            h1 {
                font-size: 40px;
                overflow-y: hidden;
            }
            p {
                font-size: 20px;
                overflow-y: hidden;
                animation: none;
            }
        }
        .display {
            z-index: 1;
        }
        .overlay {
            height: 117%;
        }
    }
    section#about-us {
        position: relative;
        height: 35rem;
        // margin-top: -3rem;
        .container {
            .row {
                .col-md-6.col-sm-12 {
                    margin-bottom: 5px;
                }
                .col-md-6.col-sm-12:first-child {
                    margin-top: -1rem;
                    border-right: none;
                }
            }
        }
    }
    section#offer {
        height: 30rem;
        .container {
            h2 {
                font-size: 30px;
            }
            .row {
                .offer-text {
                    height: 71%;
                    width: 63%;
                    left: 18.5%;
                }
            }
        }
    }
    section#menu {
        .container {
            .row {
                .col-md-6.col-sm-12 {
                    width: 90%;
                    text-align: center;
                    .flex-items {
                        img {
                            margin: 0 auto;
                        }
                        .information {
                            position: relative;
                            width: 100%;
                            right: 0;
                            padding-top: 20px;
                            p {
                                overflow: hidden;
                                position: relative;
                                max-width: 100%;
                                left: 0;
                                text-align: center;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}